  <center><h1>Profil da ville n°<%=params[:id]%>: </h1>   </center>
  
    <center><h2><%=@city_profil.name%></h4>   </center>

<center><h4> voici les potins issues de <%=@city_profil.name%> : </h4>   </center>

<%@array.each do |liste|%>
  <% if @city_profil.id == liste.user.city_id %>
  <center><div class="card" style="width: 50rem;">
  <h5 class="card-header"><%=liste.user.name%></h5>
  <div class="card-body">
    <h5 class="card-title"><%=liste.title%></h5>
    
    <%= link_to "Viens lire le gossip", gossip_path(liste.id) %>
  </div>
</div></center>
</br>
</br>
<% end %>

<% end %>
